<div class="animate__animated animate__fadeIn animate__faster">
    <h3>Buscar por Región <small> {{ regionActiva | titlecase }}</small></h3>
    <hr>
    
    <h5>Seleccione una región</h5>
    
    <div class="row">
        <div class="col">
    
            <!-- DISTINTAS FORMAS DE APLICAR UNA CLASE SEGÚN CONDICION -->
    
            <!-- METODO 1: Agregar una clase según condición -->
            <!-- [class.bt-primary] = "region === regionActiva" -->
    
            <!-- METODO 2: Evaluar las clases a mostrar -->
            <!-- [ngClass]="{
                'btn-outline-primary': region !== regionActiva,
                'btn-primary': region === regionActiva
            }" -->
    
            <button *ngFor="let region of regiones"
                    class="btn me-1"
                    [class]="getClaseCSS( region )"
                    (click)="activarRegion( region )">
                {{ region | titlecase }}
            </button>
        </div>
    </div>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>